<section class="cart">
    <div class="d-flex justify-content-between">
        <h3>Total price: <span>EGP1699</span></h3>
        <button class="btn btn-danger">Clear Cart <i class="fas fa-trash"></i></button>
    </div>
    <div class="row">
        <div class="col-5 d-flex">
            <img src="../../../assets/images/banner-4.jpeg" class="me-3" height="250px" width="250px" alt="">
            <div>
                <h3>quantity : 1</h3>
                <div><span>Available in Stock:</span> 399</div>
                <div><span>Cost:</span>EGP1658</div>
                <div><i class="fa fa-star starRating"></i>4.5</div>
            </div>
        </div>
    </div>
</section>